.index {
  min-height: 100%;
  position: relative;
}

.index .bg {
  width: 10rem;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.index .bg .bg-01 {
  width: 100%;
  height: 5.866667rem;
  background-image: url('../img/index-05.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .bg .bg-02 {
  width: 100%;
  height: 12.133333rem;
  background-image: url('../img/index-06.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .bg .bg-03 {
  width: 100%;
  height: 11.866667rem;
  background-image: url('../img/index-07.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .bg .bg-04 {
  width: 100%;
  height: 11.613333rem;
  background-image: url('../img/index-08.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section {
  position: absolute;
  top: 0;
  left: 0;
}

.index .section .section-01 {
  width: 9.413333rem;
  height: 12.946667rem;
  background-image: url('../img/index-01.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 0.4rem;
  margin-top: 4.853333rem;
  overflow: hidden;
}

.index .section .section-02 {
  width: 9.413333rem;
  height: 11.48rem;
  background-image: url('../img/index-02.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  overflow: hidden;
}

.index .section .section-03 {
  width: 9.413333rem;
  height: 6.92rem;
  background-image: url('../img/index-03.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  overflow: hidden;
}

.index .section .section-04 {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.index .section .section-04 img {
  display: block;
  width: 2.666667rem;
  height: 2.666667rem;
  margin: 0.4rem auto;
}

.index .section .section-04 p {
  color: #fadedf;
  font-size: 0.293333rem;
  text-align: center;
}