.index {
  min-height: 100%;
  width: 10rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.index .section-01 {
  width: 100%;
  height: 9.333333rem;
  background-image: url('../img/index-47.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-02 {
  width: 100%;
  height: 8.266667rem;
  background-image: url('../img/index-48.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-02 .title-01 {
  width: 7.306667rem;
  height: 0.586667rem;
  margin: 0 auto;
  background-image: url('../img/index-49.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-02 .content {
  width: 9.146667rem;
  height: 6.4rem;
  background-color: #fff;
  border-radius: 0.186667rem;
  margin: 0.72rem auto 0 auto;
}

.index .section-02 .content .title-02 {
  width: 6.4rem;
  height: 0.96rem;
  background-image: url('../img/index-50.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  top: -0.32rem;
}

.index .section-02 .content .title-03 {
  width: 5.68rem;
  height: 0.453333rem;
  background-image: url('../img/index-51.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

.index .section-02 .content .list {
  width: 8rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.32rem auto 0 auto;
}

.index .section-02 .content .list .item {
  width: 2.666667rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index .section-02 .content .list .item img {
  width: 2.026667rem;
  height: 2.026667rem;
  display: block;
  overflow: hidden;
}

.index .section-02 .content .list .item p {
  width: 100%;
  font-size: 0.373333rem;
  color: #8B4B2A;
  text-align: center;
}

.index .section-02 .content .btn {
  width: 7.706667rem;
  height: 2.133333rem;
  margin: 0.16rem auto 0 auto;
  background-image: url('../img/index-55.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-03 {
  width: 100%;
  height: 20.426667rem;
  background-color: #71B333;
}

.index .section-03 .title-01 {
  width: 8.346667rem;
  height: 1.066667rem;
  margin: 0 auto;
  background-image: url('../img/index-56.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-03 .content {
  width: 9.68rem;
  height: 18.506667rem;
  margin: 0.8rem auto 0 auto;
  background-image: url('../img/index-63.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index .section-03 .content .part-01 {
  width: 100%;
  height: 9.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.index .section-03 .content .part-01 .title-02 {
  width: 6.986667rem;
  height: 1.226667rem;
  background-image: url('../img/index-57.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: -0.4rem;
}

.index .section-03 .content .part-01 .list {
  width: 7.786667rem;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index .section-03 .content .part-01 .list img {
  width: 3.893333rem;
  height: 1.973333rem;
  overflow: hidden;
  display: block;
}

.index .section-03 .content .part-01 .para {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.213333rem;
}

.index .section-03 .content .part-01 .para p {
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 0.373333rem;
  margin-bottom: 0.213333rem;
}

.index .section-03 .content .part-01 .btn {
  width: 7.706667rem;
  height: 2.133333rem;
  margin: 0.16rem auto 0 auto;
  background-image: url('../img/index-62.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-03 .content .part-01 .disable {
  display: none;
  width: 6.693333rem;
  height: 1.066667rem;
  margin: 0.48rem auto 0 auto;
  background-image: url('../img/index-80.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-03 .content .part-02 {
  width: 100%;
  height: 8.826667rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.index .section-03 .content .part-02 .title-03 {
  width: 3.253333rem;
  height: 1.093333rem;
  background-image: url('../img/index-64.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-03 .content .part-02 .title-04 {
  width: 6.88rem;
  height: 0.586667rem;
  margin: 0.48rem 0 0.4rem 0;
  background-image: url('../img/index-65.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-03 .content .part-02 .list {
  width: 7.786667rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index .section-03 .content .part-02 .list img {
  width: 3.893333rem;
  height: 1.973333rem;
  overflow: hidden;
  display: block;
}

.index .section-03 .content .part-02 .para {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index .section-03 .content .part-02 .para p {
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 0.373333rem;
  margin-bottom: 0.213333rem;
}

.index .section-03 .content .part-02 .btn {
  width: 7.706667rem;
  height: 2.133333rem;
  margin: 0.106667rem auto 0 auto;
  background-image: url('../img/index-68.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-04 {
  width: 100%;
  height: 12.666667rem;
  background-image: url('../img/index-69.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-04 .content {
  width: 9.066667rem;
  height: 7.573333rem;
  border-bottom: 0.013333rem solid #fff;
  margin: 0 auto;
  overflow: hidden;
}

.index .section-04 .content .title {
  width: 5.973333rem;
  height: 0.506667rem;
  margin: 0.853333rem auto 0 auto;
  background-image: url('../img/index-75.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-04 .content .list {
  width: 8.533333rem;
  height: auto;
  margin: 0.4rem auto;
}

.index .section-04 .content .list .item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.index .section-04 .content .list .item span {
  width: 0.373333rem;
  height: 0.373333rem;
  margin-top: 0.133333rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-04 .content .list .item p {
  width: 7.786667rem;
  height: auto;
  font-size: 0.426667rem;
  color: #fff;
  line-height: 0.64rem;
  margin-bottom: 0.266667rem;
}

.index .section-04 .content .list .item .item-icon-1 {
  background-image: url('../img/index-70.png');
}

.index .section-04 .content .list .item .item-icon-2 {
  background-image: url('../img/index-71.png');
}

.index .section-04 .content .list .item .item-icon-3 {
  background-image: url('../img/index-72.png');
}

.index .section-04 .content .list .item .item-icon-4 {
  background-image: url('../img/index-73.png');
}

.index .section-04 .qrcode {
  width: 2.666667rem;
  height: 2.666667rem;
  margin: 0.8rem auto 0.533333rem auto;
  background-image: url('../img/index-74.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .section-04 .tips {
  width: 100%;
  height: auto;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
}

.index .dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.index .dialog div {
  display: none;
  width: 8rem;
  height: 8.8rem;
  position: relative;
  overflow: hidden;
}

.index .dialog div img {
  display: block;
  width: 100%;
  height: 100%;
}

.index .dialog div .browser {
  display: none;
}

.index .dialog div span {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
}

.index .dialog .share {
  height: 8rem;
}

.index .dialog .show {
  display: block;
}

.index .dialog .error {
  display: none;
  width: 7.466667rem;
  height: 3.533333rem;
  border-radius: 0.106667rem;
  background-color: #ffffff;
}

.index .dialog .error p {
  width: 5.6rem;
  height: auto;
  line-height: 0.586667rem;
  margin: 0.506667rem auto;
  text-align: center;
  font-size: 0.426667rem;
}

.index .dialog .error span {
  display: block;
  width: 100%;
  height: 1.333333rem;
  border-top: 0.013333rem solid #e5e5e5;
  position: static;
  line-height: 1.333333rem;
  text-align: center;
  font-size: 0.48rem;
  color: #e63c32;
}

.SMS {
  height: 30.2rem;
}

.SMS .section-02 {
  display: none;
}

.SMS .decorate-04 {
  display: none;
}

.SMS .decorate-05 {
  display: none;
}