<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>劳动最光荣，成果需呵护</title>

  <script>
    var hrefArr = window.location.href.match(/\/website([^/]*)\//i)
    var env = hrefArr ? hrefArr[1] : 'dat'
    var sms = window.location.href.match(/SMS$/i)
    var redirect_uri = `https://jk.anbanggroup.com/website${env}/weixin/kaimenhong/template/index.html`

    if (sms && navigator.userAgent.toLowerCase().match(/MicroMessenger/i) ==
      'micromessenger' && window.location.search.indexOf('code') === -1) {
      redirect_uri = redirect_uri + '?source=SMS'
      window.location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxaec1b9035e6a21ef&redirect_uri=${encodeURIComponent(redirect_uri)}&response_type=code&scope=snsapi_base&state=jyscgh-20d569f0-56eb-4fdd-a264-fb9c4c76cb33#wechat_redirect`
    } else if (navigator.userAgent.toLowerCase().match(/MicroMessenger/i) ==
      'micromessenger' && window.location.search.indexOf('code') === -1) {
      window.location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxaec1b9035e6a21ef&redirect_uri=${encodeURIComponent(redirect_uri)}&response_type=code&scope=snsapi_base&state=jyscgh-20d569f0-56eb-4fdd-a264-fb9c4c76cb33#wechat_redirect`
    }
  </script>
  <script type="text/javascript" src="../js/flexible.js"></script>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <div class="index">
    <!-- <div class="bg">
      <div class="bg-01"></div>
      <div class="bg-02"></div>
      <div class="bg-03"></div>
      <div class="bg-04"></div>
    </div>
    <div class="section">
      <div class="decorate-01"></div>
      <div class="decorate-02"></div>
      <div class="decorate-03"></div>
      <div class="decorate-04"></div>
      <div class="decorate-05"></div>
      <div class="section-01">
        <div class="title"></div>
        <div class="imgBox">
          <img src="../img/index-13.png" alt="">
          <img src="../img/index-12.png" alt="">
          <img src="../img/index-11.png" alt="">
          <img src="../img/index-10.png" alt="">
        </div>
        <p class="text">关注“和谐健康”公众号</p>
        <p class="text">即可免费领取15天公共交通意外伤害保障</p>
        <div class="check mgAuto checkFollow">
          <span></span>
          <p>关注公众号</p>
        </div>
        <div class="btn"></div>
        <div class="disable"></div>
      </div>
      <div class="section-02">
        <div class="title"></div>
        <div class="imgBox">
          <div class="LBox">
            <div class="pic"></div>
          </div>
          <div class="MBox"></div>
          <div class="RBox">
            <div class="pic"></div>
          </div>
        </div>
        <div class="textBox">
          <div class="LBox">
            <div class="pic"></div>
          </div>
          <div class="MBox"></div>
          <div class="RBox">
            <div class="pic"></div>
            <div class="originPrice"></div>
          </div>
        </div>
        <p class="text">分享本页即可获得</p>
        <p class="text">5折投保公众交通意外险权益</p>
        <div class="checkBox">
          <div class="check checkShare">
            <span></span>
            <p>分享本页</p>
          </div>
        </div>
        <div class="btn"></div>
      </div>
      <div class="section-03">
        <div class="title">
          <div class="icon"></div>
          <div class="content">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="icon"></div>
        </div>
        <p>活动期间，一个账号只能领取一份公共交通意外险赠险；</p>
        <p>公共交通意外险赠险只能为本人投保，且不可退保；</p>
        <p>五折购买权益被保人不限本人；</p>
        <p>参与本活动，客服人员可能会通过电话进行回访。</p>
      </div>
      <div class="section-04">
        <img src="../img/index-04.png" alt="">
        <p>长按二维码扫描关注公众号</p>
      </div>
    </div>
    <div class="dialog">
      <div class="share">
        <img class="wechat" src="../img/index-39.png" alt="">
        <img class="browser" src="../img/index-43.png" alt="">
        <span class="close"></span>
      </div>
      <div class="follow">
        <img src="../img/index-38.png" alt="">
        <span class="close"></span>
      </div>
      <div class="error">
        <p>获取公众号关注状态失败
          <br />请刷新页面重试</p>
        <span class="close">知道了</span>
      </div>
    </div> -->
    <div class="section-01"></div>
    <div class="section-02">
      <div class="title-01"></div>
      <div class="content">
        <div class="title-02"></div>
        <div class="title-03"></div>
        <div class="list">
          <div class="item">
            <img src="../img/index-52.png" alt="">
            <p>儿童精选重疾</p>
          </div>
          <div class="item">
            <img src="../img/index-53.png" alt="">
            <p>最高赔付</p>
          </div>
          <div class="item">
            <img src="../img/index-54.png" alt="">
            <p>最低每天</p>
          </div>
        </div>
        <div class="btn"></div>
      </div>
    </div>
    <div class="section-03">
      <div class="title-01"></div>
      <div class="content">
        <div class="part-01">
          <div class="title-02"></div>
          <div class="list">
            <img src="../img/index-58.png" alt="">
            <img src="../img/index-59.png" alt="">
            <img src="../img/index-60.png" alt="">
            <img src="../img/index-61.png" alt="">
          </div>
          <div class="para">
            <p>关注「和谐健康」公众号</p>
            <p>即可免费领取15天公共交通意外伤害保障</p>
          </div>
          <div class="btn"></div>
          <div class="disable"></div>
        </div>
        <div class="part-02">
          <div class="title-03"></div>
          <div class="title-04"></div>
          <div class="list">
            <img src="../img/index-66.png" alt="">
            <img src="../img/index-67.png" alt="">
          </div>
          <div class="para">
            <p>关注公众号并分享本页</p>
            <p>即可获得5折投保公共交通意外险权益</p>
          </div>
          <div class="btn"></div>
        </div>
      </div>
    </div>
    <div class="section-04">
      <div class="content">
        <div class="title"></div>
        <div class="list">
          <div class="item">
            <span class="item-icon-1"></span>
            <p>活动期间，一个账号只能领取一份公共交通意外险赠险；</p>
          </div>
          <div class="item">
            <span class="item-icon-2"></span>
            <p>公共交通意外险赠险只能为本人投保，且不可退保；</p>
          </div>
          <div class="item">
            <span class="item-icon-3"></span>
            <p>五折购买权益被保人不限本人；</p>
          </div>
          <div class="item">
            <span class="item-icon-4"></span>
            <p>参与本活动，客服人员可能会通过电话进行回访。</p>
          </div>
        </div>
      </div>
      <div class="qrcode"></div>
      <p class="tips">长按二维码扫描关注公众号</p>
    </div>
    <div class="dialog">
      <div class="share">
        <img class="wechat" src="../img/index-77.png" alt="">
        <img class="browser" src="../img/index-79.png" alt="">
        <span class="close"></span>
      </div>
      <div class="follow">
        <img src="../img/index-78.png" alt="">
        <span class="close"></span>
      </div>
      <div class="error">
        <p>获取公众号关注状态失败
          <br />请刷新页面重试</p>
        <span class="close">知道了</span>
      </div>
    </div>
  </div>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script type="text/javascript" src="../js/zepto.min.js"></script>
  <script type="text/javascript" src="../js/storage.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>