<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script type="text/javascript" src="/src/static/libs/flexible.js"></script>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <div class="index">
    <div class="bg">
      <div class="bg-01"></div>
      <div class="bg-02"></div>
      <div class="bg-03"></div>
      <div class="bg-04"></div>
    </div>
    <div class="section">
      <div class="section-01">
        <div class="title"></div>
        <div class="imgBox">
          <img src="../img/index-13.png" alt="">
          <img src="../img/index-12.png" alt="">
          <img src="../img/index-11.png" alt="">
          <img src="../img/index-10.png" alt="">
        </div>
        <p class="text">关注“和谐健康”公众号</p>
        <p class="text">即可免费领取90天公共交通意外伤害保障</p>
        <div class="check mgAuto">
          <span></span>
          <p>关注公众号</p>
        </div>
        <div class="btn"></div>
      </div>
      <div class="section-02">
      
      </div>
      <div class="section-03">

      </div>
      <div class="section-04">
        <img src="../img/index-04.png" alt="">
        <p>长按二维码扫描关注公众号</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>