<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>开门红</title>

  <script>
    if (navigator.userAgent.toLowerCase().match(/MicroMessenger/i) ==
    'micromessenger' && window.location.search.indexOf('code') === -1) {
      window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxaec1b9035e6a21ef&redirect_uri=https%3A%2F%2Fjk.anbanggroup.com%2Fwebsitedat%2Fweixin%2Fkaimenhong%2Ftemplate%2Findex.html&response_type=code&scope=snsapi_base&state=jyscgh-20d569f0-56eb-4fdd-a264-fb9c4c76cb33#wechat_redirect'
    }
  </script>
  <script type="text/javascript" src="../js/flexible.js"></script>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <div class="index">
    <div class="bg">
      <div class="bg-01"></div>
      <div class="bg-02"></div>
      <div class="bg-03"></div>
      <div class="bg-04"></div>
    </div>
    <div class="section">
      <div class="decorate-01"></div>
      <div class="decorate-02"></div>
      <div class="decorate-03"></div>
      <div class="decorate-04"></div>
      <div class="decorate-05"></div>
      <div class="section-01">
        <div class="title"></div>
        <div class="imgBox">
          <img src="../img/index-13.png" alt="">
          <img src="../img/index-12.png" alt="">
          <img src="../img/index-11.png" alt="">
          <img src="../img/index-10.png" alt="">
        </div>
        <p class="text">关注“和谐健康”公众号</p>
        <p class="text">即可免费领取90天公共交通意外伤害保障</p>
        <div class="check mgAuto checkFollow">
          <span></span>
          <p>关注公众号</p>
        </div>
        <div class="btn"></div>
        <div class="disble"></div>
      </div>
      <div class="section-02">
        <div class="title"></div>
        <div class="imgBox">
          <div class="LBox">
            <div class="pic"></div>
            <div class="text"></div>
          </div>
          <div class="MBox"></div>
          <div class="RBox">
            <div class="pic"></div>
            <div class="text"></div>
          </div>
        </div>
        <p class="text">关注公众号并分享本页</p>
        <p class="text">即可获得5折投保公众交通意外险权益</p>
        <div class="checkBox">
          <div class="check checkFollow">
            <span></span>
            <p>关注公众号</p>
          </div>
          <div class="check checkShare">
            <span></span>
            <p>分享本页</p>
          </div>
        </div>
        <div class="btn"></div>
      </div>
      <div class="section-03">
        <div class="title">
          <div class="icon"></div>
          <div class="content">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="icon"></div>
        </div>
        <p>活动期间，一个账号只能领取一份公共交通意外险赠险；</p>
        <p>公共交通意外险赠险只能为本人投保，且不可投保；</p>
        <p>五折购买权益被保人不限本人；</p>
        <p>本活动解释权归和谐健康保险股份有限公司所有。</p>
      </div>
      <div class="section-04">
        <img src="../img/index-04.png" alt="">
        <p>长按二维码扫描关注公众号</p>
      </div>
    </div>
    <div class="dialog">
      <div class="share">
          <img src="../img/index-39.png" alt="">
          <span class="close"></span>
      </div>
      <div class="follow">
          <img src="../img/index-38.png" alt="">
          <span class="close"></span>
      </div>
      <div class="error">
        <p>获取公众号关注状态失败<br />请刷新页面重试</p>
        <span class="close">知道了</span>
      </div>
    </div>
  </div>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script type="text/javascript" src="../js/zepto.min.js"></script>
  <script type="text/javascript" src="../js/storage.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>